<div class="container mt-5">
    <div class="row">
<div class="col text-center">
    <!-- <h1 class=" text-warning" >404</h1> -->
    <img src="https://thumbs.dreamstime.com/b/error-page-not-found-emoji-sad-smile-vector-illustration-web-design-site-page-error-page-not-found-emoji-sad-smile-vector-125701806.jpg" 
    height="400px"  alt="">
    <!-- <h5>Look Like Your Lost</h5>
    <p>yhe page your looking for is not avalialable</p> -->
    <br>
    <button routerLink="/" type="button" class="btn btn-warning ">home</button>
</div>
    </div>
</div>

